{% extends 'base.html' %}
	
	<!-- Body template design  -->

{% block body %}

<h2>{{ the_title }}</h2>

{% if error %}
    <div class="error-msg", style="color:red;">{{ error }}</div>
{% endif %}

<form method ='POST' action ='/result' >

    <p> Use this form to submit your KYC details: </p>

    <table>
        <p>A. Identity</p>
        <tr>
            <td> Name of Applicant*: </td>
            <td> <input name = 'name' type = 'text' width = '120' placeholder='max char 48' maxlength='48' required></td>
        </tr>
        <tr>
            <td> Fathers/Spouse Name*: </td>
            <td> <input name = 'fsname' type = 'text' width = '120' placeholder='max char 48' maxlength='48' required></td>
        </tr>
        <tr>
            <td> Marital Status*: </td>
            <td>
                <input name = 'maritalstatus' type = 'radio' value='Married' required>
                    <label>Married</label>
            </td>
            <td>
                <input name = 'maritalstatus' type = 'radio' value='Single'>
                    <label>Single</label>
            </td>
        </tr>  
        <tr>
            <td> Gender*: </td>
            <td>
                <input name = 'gender' type = 'radio' value='Male' required>
                    <label>Male</label>
            </td>
            <td>
                <input name = 'gender' type = 'radio' value='Female'>
                    <label>Female</label>
            </td>
        </tr>
        <tr>
            <td>Date of Birth: </td>
            <td>
                <input name='dob' type='date'>
            </td>
        </tr>
        <tr>
            <td> PAN*: </td>
            <td> <input name = 'pan' type = 'text' width = '120' maxlength='10' minlength='10' required></td>
        </tr>
        <tr>
            <td> Aadhar*: </td>
            <td> <input name = 'aadhar' type = 'text' width = '120' maxlength='12' minlength='12' required></td>
        </tr>
    </table>


    <p>B Address Details</p>

    <table>
        <tr>
            <td> Address*:</td>
            <td> <input name = 'address' type = 'text' width = '120' placeholder='max char 102' maxlength='102' required></td>
        </tr>
        <tr>
            <td> City/Town/Village*: </td>
            <td> <input name = 'city' type = 'text' width = '120' placeholder='max char 48' maxlength='48' required></td>
        </tr>
        <tr>
            <td> State: </td>
            <td> <input name = 'state' type = 'text' width = '120' placeholder='max char 48' maxlength='48'></td>
        </tr>
        <tr>
            <td> Postal Code*: </td>
            <td> <input name = 'pincode' type = 'text' width = '120' placeholder='6 digit' maxlength='6' minlength='6' required></td>
        </tr>
    </table>

    <p>Proof of Address: Please Select one</p>    
    <table>
        <tr>
            <td>
                <input name='poa' type="radio" value='Passport' required>
                <label>Passport</label>                
            </td>
            <td>
                <input name='poa' type="radio" value='Ration Card' required>
                <label>Ration Card</label>                
            </td>
            <td>
                <input name='poa' type="radio" value='Registered Lease' required>
                <label>Registered Lease</label>                
            </td>
            <td>
                <input name='poa' type="radio" value='Residence Sale Agreement' required>
                <label>Residence Sale Agreement</label>                
            </td>
            <td>
                <input name='poa' type="radio" value='Driving License' required>
                <label>Driving License</label>                
            </td>
        </tr>
        <tr>
            <td>
                <input name='poa' type="radio" value='Voter ID' required>
                <label>Voter ID</label>                
            </td>
            <td>
                <input name='poa' type="radio" value='Latest Bank Statement' required>
                <label>Latest Bank Statement</label>                
            </td>
            <td>
                <input name='poa' type="radio" value='Latest Tel.Ph. Bill' required>
                <label>Latest Tel.Ph. Bill</label>                
            </td>
            <td>
                <input name='poa' type="radio" value='Latest Elec. Bill' required>
                <label>Latest Elec. Bill</label>                
            </td>
            <td>
                <input name='poa' type="radio" value='Latest Gas Bill' required>
                <label>Latest Gas Bill</label>                
            </td>
        </tr>
    </table>

    <p>Contact Details</p> 
    <table>
        <tr>
            <td>Telephone: </td>
            <td>
                <input name='tel1' type="number" placeholder="ISD"> <input name='tel2' type="number" placeholder="STD"> <input name='tel3' type="number" placeholder="Telephone">
            </td>
        </tr>
        <tr>
            <td>Mobile: </td>
            <td>
                <input name='mobile1' type="number" placeholder="ISD"> <input name='mobile2' type="number" placeholder="mobile">
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input name='mail' type="email" placeholder="yourmail@hostname.com">
            </td>
        </tr>
    </table>

    <p>C. Other Details</p>
    <table>

        <tr>
            <td>Gross Annual Income Details</td>
            <td>
                <input name = 'income' type = 'radio' value=' &lt; 1lac' required>
                    <label> &lt; 1lac </label>
            </td>
            <td>
                <input name = 'income' type = 'radio' value='1 to 5lac'>
                    <label> &lt; 1 - 5 lac </label>
            </td>
            <td>
                <input name = 'income' type = 'radio' value='5 to 10lac'>
                    <label> &lt; 5 - 10 lac </label>
            </td>
            <td>
                <input name = 'income' type = 'radio' value='10 to 25lac'>
                    <label> 10 - 25 lac </label>
            </td>
            <td>
                <input name = 'income' type = 'radio' value='&gt; 25lac'>
                    <label> &gt; 25 lac </label>
            </td>
        </tr>

        <tr>
            <td>Occupation Details</td>
            <td>
                <input name = 'occupation' type = 'radio' value='Private Sector Service' required>
                    <label> Private Sector Service </label>
            </td>
            <td>
                <input name = 'occupation' type = 'radio' value='Public Sector'>
                    <label> Public Sector </label>
            </td>
            <td>
                <input name = 'occupation' type = 'radio' value='Government'>
                    <label> Government Sector </label>
            </td>
            <td>
                <input name = 'occupation' type = 'radio' value='Business'>
                    <label> Business </label>
            </td>
            <td>
                <input name = 'occupation' type = 'radio' value='Professional'>
                    <label> Professional </label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input name = 'occupation' type = 'radio' value='Agriculturist'>
                    <label> Agriculturist </label>
            </td>
            <td>
                <input name = 'occupation' type = 'radio' value='Retired'>
                    <label> Retired </label>
            </td>
            <td>
                <input name = 'occupation' type = 'radio' value='Housewife'>
                    <label> Housewife </label>
            </td>
            <td>
                <input name = 'occupation' type = 'radio' value='Student'>
                    <label> Student </label>
            </td>
            <td>
                <input name = 'occupation' type = 'radio' value='Others'>
                    <label> Others </label>
            </td>
        </tr>


    </table>

    <p> When you are ready please click this button and ensure all data is correctly filled!</p>
    <p> <input value = 'Submit' type = 'submit'> </p>

</form>

{% endblock %}