{% extends 'base.html' %}

<!-- Body template design  -->

{% block body %}

{% if error %}
<div class="error-msg" , style="color: red">{{ error }}</div>
{% endif %}

<form method="POST" action="/result">

  <h1 class="display-6 ms-3">Use this form to submit your KYC details:</h1>

    <!-- <form> -->
        <div class="container">
            <h4 class="display-6 mb-4">A. Identity</h4>
            <div class="row ms-3">
                <div class="col-2 pe-0 py-1">
                    <label for="Name" class="form-label">Name of the Applicant* :-</label>
                </div>
                <div class="col-8 ps-0 mb-3">
                    <input type="text" name="name" maxLength="48" class="form-control" id="applicantName" required>
                </div>
                <div class="col-2">
                    <div id="nameHelp" class="form-text"> (Max 48 chracters )</div>
                </div>

                <div class="col-2 pe-0 py-1">
                    <label for="G Name" class="form-label">Fathers/Spouse Name* :-</label>
                </div>
                <div class="col-8 ps-0 mb-3">
                    <input type="text" name="fsname" maxLength="48" class="form-control" id="gaurdianName" required>
                </div>
                <div class="col-2">
                    <div id="nameHelp" class="form-text"> (Max 48 chracters )</div>
                </div>

                <div class="col-2 pe-0 py-1 mb-3">
                    <label for="martialStatus" class="form-label">Martial Status* :-</label>
                </div>
                <div class="col-3">
                    <input class="form-check-input" type="radio" name="maritalstatus" value="Married" id="Married" required>
                    <label class="form-check-label" for="Married">
                        Married
                    </label>
                </div>
                <div class="col-3">
                    <input class="form-check-input" type="radio" name="maritalstatus" value="Single" id="Single">
                    <label class="form-check-label" for="Single">
                        Single
                    </label>
                </div>
                <div class="col-4"></div>

                <div class="col-2 pe-0 py-1 mb-3">
                    <label for="gender" class="form-label">Gender* :-</label>
                </div>
                <div class="col-3">
                    <input class="form-check-input" type="radio" name="gender" value="Male" id="Male" required>
                    <label class="form-check-label" for="Male">
                        Male
                    </label>
                </div>
                <div class="col-3">
                    <input class="form-check-input" type="radio" name="gender" value="Female" id="Female">
                    <label class="form-check-label" for="Female">
                        Female
                    </label>
                </div>
                <div class="col-4"></div>

                <div class="col-2 pe-0 py-1 mb-3">
                    <label for="dob" class="form-label">Date of Birth* :-</label>
                </div>
                <div class="col-8 ps-0">
                    <div class="input-group date" id="datepicker" onclick="$(this).datepicker({format: 'yyyy-mm-dd'});">
                        <input type="text" name="dob" class="form-control">
                        <span class="input-group-append">
                            <span class="input-group-text bg-white d-block" ">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-2 pe-0 py-1 mb-3"></div>

                <div class="col-2 pe-0 py-1">
                    <label for="PAN" class="form-label">PAN number* :-</label>
                </div>
                <div class="col-8 ps-0 mb-3">
                    <input type="text" name="pan" maxlength="10" minlength="10" class="form-control" id="PAN" required>
                </div>
                <div class="col-2"></div>

                <div class="col-2 pe-0 py-1">
                    <label for="Aadhar" class="form-label">Aadhar Number* :-</label>
                </div>
                <div class="col-8 ps-0 mb-3">
                    <input type="text" name="aadhar" maxlength="12" minlength="12" class="form-control" id="Aadhar" required>
                </div>
                <div class="col-2"></div>
            </div>

            <!-- B. Address Details -->
            <h4 class="display-6 my-4">B. Address Details</h4>
            <div class="row ms-3">
                <div class="col-1 pe-0 py-1">
                    <label for="Address" class="form-label">Address* :-</label>
                </div>
                <div class="col-9 ps-0 mb-3">
                    <input type="text" name="address" maxLength="102" class="form-control" id="Address" required>
                </div>
                <div class="col-2">
                    <div id="nameHelp" class="form-text"> (Max 48 chracters )</div>
                </div>

                <div class="col-1 pe-0 py-1">
                    <label for="City" class="form-label">City* :-</label>
                </div>
                <div class="col-2 ps-0 mb-3">
                    <input type="text" name="city" maxlength="48" class="form-control" id="City" required>
                </div>

                <div class="col-1 pe-0 py-1">
                    <label for="State" class="form-label">State* :-</label>
                </div>
                <div class="col-2 ps-0 mb-3">
                    <input type="text" name="state" maxlength="48" class="form-control" id="State" required>
                </div>

                <div class="col-1 pe-0 py-1">
                    <label for="PIN"  class="form-label">Pin Code* :-</label>
                </div>
                <div class="col-2 ps-0 mb-3">
                    <input type="text" name="pincode" maxlength="6" class="form-control" id="PIN" required>
                </div>
                <div class="col-3"></div>
                
                <div class="col-12 pe-0 pt-1">
                    <label for="ProofAddress" class="form-label">Proof of Adress (Select any 1)*</label>
                </div>

                <div class="col-2 pe-0 pb-1 ms-5">
                    <input class="form-check-input" type="radio" name="poa" value="Passport" id="Passport" required>
                    <label class="form-check-label" for="Passport">
                        Passport
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="poa" value="Ration Card" id="Ration Card">
                    <label class="form-check-label" for="Ration Card">
                        Ration Card
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="poa" value="Registered Lease" id="Registered Lease">
                    <label class="form-check-label" for="Registered Lease">
                        Registered Lease
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="poa" value="Driving License" id="Driving License">
                    <label class="form-check-label" for="Driving License">
                        Driving License
                    </label>
                </div>
                <div class="col-3 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="poa" value="Residence Sale Agreement"id="Residence Sale Agreement">
                    <label class="form-check-label" for="Residence Sale Agreement">
                        Residence Sale Agreement
                    </label>
                </div>

                <div class="col-2 pe-0 pb-1 ms-5">
                    <input class="form-check-input" type="radio" name="poa" value="Voter ID" id="Voter ID">
                    <label class="form-check-label" for="Voter ID">
                        Voter ID
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="poa" value="Latest Telephone Bil" id="Latest Telephone Bill">
                    <label class="form-check-label" for="Latest Telephone Bill">
                        Latest Telephone Bill
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="poa" value="Latest Electricity Bil" id="Latest Electricity Bill">
                    <label class="form-check-label" for="Latest Electricity Bill">
                        Latest Electricity Bill
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="poa" value="Latest Gas Bill" id="Latest Gas Bill">
                    <label class="form-check-label" for="Latest Gas Bill">
                        Latest Gas Bill
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="poa" value="Latest Bank Statement" id="Latest Bank Statement">
                    <label class="form-check-label" for="Latest Bank Statement">
                        Latest Bank Statement
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1"></div>

                <div class="col-12 pe-0 pt-1">
                    <!-- <label for="Contact" class="form-label">Contact Details </label> -->
                </div>
                <div class="col-2 py-1">
                    <label class="form-check-label" for="Telephone Number">
                        Telephone Number :-
                    </label>
                </div>
                <div class="col-3 py-1">
                    <input type="text" name="tel1" maxlength="11" class="form-control" id="Telephone Number">
                </div>
                <div class="col-2 py-1">
                    <label class="form-check-label" for="Mobile Number">
                        Mobile Number :-
                    </label>
                </div>
                <div class="col-3 py-1">
                    <input type="text" name="mobile1" maxlength="10" class="form-control" id="Mobile Number">
                </div>
                <div class="col-2 py-1"></div>
                <div class="col-2 py-1">
                    <label class="form-check-label" for="Email Id">
                        Email Id :-
                    </label>
                </div>
                <div class="col-3 py-1">
                    <input name="mail" type="email" class="form-control" id="Email Id" required>
                </div>
            </div>
            
            <!-- C. Other Details -->
            <h4 class="display-6 my-4">C. Other Details</h4>
            <div class="row ms-3">
                <div class="col-12 pe-0 pt-1">
                    <label for="income" class="form-label">Gross Annual Income Details*</label>
                </div>

                <div class="col-2 pe-0 pb-1 ms-5">
                    <input class="form-check-input" type="radio" name="income" value="&lt; 1 lac" id="L1" required>
                    <label class="form-check-label" for="L1">
                        Less than 1 Lakh
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="income" value="1-5 lac" id="1T5">
                    <label class="form-check-label" for="1T5">
                        1 to 5 Lakhs
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="income" value="5-10 lac" id="5T10">
                    <label class="form-check-label" for="5T10">
                        5 to 10 Lakhs
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="income" value="10-25 lac" id="10T25">
                    <label class="form-check-label" for="10T25">
                        10 to 25 Lakhs
                    </label>
                </div>
                <div class="col-3 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="income" value="&gt; 25 lac" id="M25">
                    <label class="form-check-label" for="M25">
                        More than 25 lakhs
                    </label>
                </div>

                <div class="col-12 pe-0 pt-1 mt-3">
                    <label for="ProofAddress" class="form-label">Occupation*</label>
                </div>

                <div class="col-2 pe-0 pb-1 ms-5">
                    <input class="form-check-input" type="radio" name="occupation" value="Private Sector" id="Private Sector" required>
                    <label class="form-check-label" for="Private Sector">
                        Private Sector
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="occupation" value="Public Sector" id="Public Sector">
                    <label class="form-check-label" for="Public Sector">
                        Public Sector
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="occupation" value="Government Sector" value="Government Sector">
                    <label class="form-check-label" for="Government Sector">
                        Government Sector
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="occupation" value="Business" id="Business">
                    <label class="form-check-label" for="Business">
                        Business
                    </label>
                </div>
                <div class="col-3 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="occupation" value="Professional" id="Professional">
                    <label class="form-check-label" for="Professional">
                        Professional
                    </label>
                </div>

                <div class="col-2 pe-0 pb-1 ms-5">
                    <input class="form-check-input" type="radio" name="occupation" value="Agriculturist" id="Agriculturist">
                    <label class="form-check-label" for="Agriculturist">
                        Agriculturist
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="occupation" value="Retired" id="Retired">
                    <label class="form-check-label" for="Retired">
                        Retired
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="occupation" value="Housewife" id="Housewife">
                    <label class="form-check-label" for="Housewife">
                        Housewife
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="occupation" value="Student" id="Student">
                    <label class="form-check-label" for="Student">
                        Student
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1">
                    <input class="form-check-input" type="radio" name="occupation" value="Others" id="Others">
                    <label class="form-check-label" for="Others">
                        Others
                    </label>
                </div>
                <div class="col-2 pe-0 pb-1"></div>

            </div>
            <div class="col-12 mt-5">
                <p class="fs-4" >When you are ready please click this button and ensure all data is correctly filled!</p>
            </div>
            <div class="d-grid gap-2 mt-2 mb-5">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </div>
</form>

{% endblock %}
