{% extends 'base.html' %}

<!-- Body template design  -->

{% block body %}

<h2>{{ the_title }}</h2>

{% if error %}
<div class="error-msg" , style="color: red">{{ error }}</div>
{% endif %}

<form method="POST" action="/viewresult">
  <table>
    <p>A. Identity</p>
    <tr>
      <td>Enter KYC Number:</td>
      <td>
        <input
          name="kycno"
          type="text"
          width="120"
          placeholder="14digits"
          maxlength="14"
          minlength="14"
          required
        />
      </td>
    </tr>
    <tr>
      <td>
        <input value="Submit" type="submit" />
      </td>
    </tr>
  </table>
</form>

{% endblock %}
