{% extends 'base.html' %}

<!-- Body template design  -->

{% block body %}

<h2>{{ the_title }}</h2>

<form method="POST" action="/viewresult">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center">
        <h4 class="display-6 my-4">Enter the KYC Number to view the details</h4>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2"></div>
      <div class="d-flex justify-content-center col-8">
        <input
          type="text"
          class="form-control"
          name="kycno"
          maxlength="14"
          minlength="14"
          required
          id="kycno"
          placeholder="Max 14 digits"
        />
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-6">
        {% if error %}
        <div class="error-msg" , style="color: red">{{ error }}</div>
        {% endif %}
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="d-grid gap-2 col-4 mt-3">
        <button class="btn btn-success" value="submit" type="submit">
          Submit
        </button>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
  <!-- <table>
    <tr>
      <td>Enter KYC Number:</td>
      <td>
        <input
          name="kycno"
          type="text"
          width="120"
          placeholder="14digits"
          maxlength="14"
          minlength="14"
          required
        />
      </td>
    </tr>
    <tr>
      <td>
        <input value="Submit" type="submit" />
      </td>
    </tr>
  </table> -->
</form>

{% endblock %}
